{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
  <div class="box">
    <form action="/name_distrib" method="GET">
      <button class="button is-block is-info is-medium is-fullwidth">Create new distribution</button>
    </form>
    <br>
    <form action="/list_distrib" method="GET">
      <button class="button is-block is-info is-medium is-fullwidth">Select distribution</button>
    </form>
    <br>
    <form action="/list_distrib_delete" method="GET">
      <button class="button is-block is-info is-medium is-fullwidth">Delete distribution</button>
    </form>
  </div>
</div>
{% endblock %}