{% extends "base.html" %}

{% block content %}
<div class="column">
  <div class="box">
    <div class="columns">
      {% for column in columns %}
      {% if column != 'Distrib_Id' %}
      <div class="column">
        <label class="label is-medium">{{ column }}</label>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% for row in rows %}
    <div class="columns">
      {% for column in columns %}
      {% if column != 'Distrib_Id' %}
      <div class="column">
        {% if column == 'Name' %}
        <form action="/select_distrib" method="POST">
          <div class="control" hidden>
            <input id="select_distrib_id" class="input" type="text" name="distrib_id" value="{{ row['Distrib_Id'] }}">
          </div>
          <button class="button is-info is-small" style="font-size:100%">{{ row[column] }}</button>
        </form>
        {% else %}
        <label class="label is-small" style="font-size:100%">{{ row[column] }}</label>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}