{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
 <div class="box">
    {% for distrib_name, distrib_id in data.items() %}
   <form action="/delete_distrib_confirm" method="POST">
     <div class="control" hidden><input id="codeinput" class="input" type="text" name="distrib_id" value={{ distrib_id }}></div>
      <button class="button is-block is-info is-medium is-fullwidth">{{ distrib_name }}</button>
    </form>
    <br>
    {% endfor %}
 </div>
</div>
{% endblock %}